body * {
visibility: hidden;
}
    
#printableOrder, #printableOrder * {
visibility: visible;
}
    
#printableOrder {
    position: absolute;
    left: 0;
    top: 0;
    width: 80mm; /* Largura padrão para Epson TM-T20X */
    font-family: 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.2;
    margin: 0;
    padding: 5mm;
}

    /* Estilo para o cabeçalho */
#printableOrder h3 {
    text-align: right;
    font-size: 10px;
    margin-bottom: 5mm;
}

#printableOrder h2 {
    font-size: 20px;
    margin: 2mm 0;
    align-items: center;
    text-align: center;
}

#printableOrder h2.comp {
    font-size: 12px;
    margin-bottom: 5mm;
}

    /* Estilo para a lista de itens */
#printableOrder ul {
    list-style: none;
    padding: 0;
    font-weight: bold;
    margin: 0;
}

#printableOrder ul li {
    margin: 1mm 0;
    font-size: 18px;
    line-height: 1.2;
}

    /* Estilo para o total e pagamento */
#printableOrder p {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin: 2mm 0;
}

    /* Estilo para observações */
#printableOrder h5 {
    font-size: 14px;
    margin: 2mm 0;
    text-align: right;
}

    /* Estilo para a mensagem final */
#printableOrder h4 {
    text-align: center;
    font-size: 14px;
    margin: 5mm 0;
}

    /* Estilo para a logo */
#printableOrder .img-nabrasa {
    text-align: center;
    margin-top: 5mm;
}

#printableOrder .img-nabrasa img {
    width: 50mm; /* Ajusta a largura da logo para 60mm */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Garante que não ultrapasse a largura do pedido */
}

    /* Remove os botões de controle de quantidade */
.order-item-container button,
.controlsDiv {
    display: none !important;
}

    /* Ajusta o container do item para impressão */
.order-item-container {
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0;
}

